/*
  =-=-=-=
	BREADCRUMB
  =-=-=-=
*/

#breadcrumb{
	display:none;

	&.visible{
		margin-top:10px;
		display:block;
	}

	ul li{
		float:left;
		padding: 0 2px;
		color: $primary-font-color;

		a{
			color:$primary-font-color;
		}
	}
}
