<nav id="breadcrumb" class="col-xs-12" data-ng-class="{ visible: breadcrumb.states.length > 1 }">
	<ul role="navigation" class="list-unstyled">
		<li data-ng-repeat="state in breadcrumb.states">
			<a ui-sref="{{state.name}}" data-ng-hide="state.current">{{::state.title}}</a>
			<span data-ng-hide="state.current">></span>
			<span data-ng-show="state.current">{{::state.title}}</span>
		</li>	
	</ul>	
</nav>
