/*
  =-=-=-=
	LOGIN
  =-=-=-=
*/

body.login{
	background-color:$primary-font-color;
	color:$background-primary;

	main{
		margin-left:0;
	}
}
@media(max-width:991px){
	h1{
		font-size:34px;
	}
}

@media(max-width:767px){
	body.login{
		main{
			margin-top: 0px;
		}
	}
	h1{
		font-size:30px;
	}
}


#login-template{
	position: relative;
	top:50%;
	transform: translateY(50%);


	div.checkbox{
		padding-top:0;
		min-height: 20px;
	}

	.input-group {
		.input-group-addon{
			background-color:$background-primary;
			border:none;
			padding: $vertical-padding-button;
			padding-right:3px;
			border-radius:0;
		}

		input{
			border:none;
			padding-left:3px;
		}

		input:focus{
			outline:none;
		}
	}
	.btn.btn-primary{
		background:#666;
	}

	.btn.btn-link{
		color: $background-primary;
		padding: 0 $horizontal-padding-button;
	}

	#forgot-password{
		padding-right:0;
	}

	#create-account{
		text-decoration:underline;
		padding:0;
	}
}
