<div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6" id="login-template">
	<h1 class="text-center">Login</h1>
	<span class="text-danger" data-ng-show="ctrl.errorMessage && ctrl.errorMessage.length">{{ctrl.errorMessage}}</span>
	<form class="form-horizontal" name="loginForm" novalidate="true">
		<div class="form-group" data-ng-class="{'has-error': (loginForm.email.$dirty || loginForm.$submitted) && loginForm.email.$invalid}">
			<div class="input-group">
				<div class="input-group-addon"><i class="flaticon-email21"></i></div>
				<input type="text" class="form-control" data-ng-model="ctrl.email" required="true" name="email" placeholder="Email or Username">
			</div>
            <span class="help-block" data-ng-show="(loginForm.email.$dirty || loginForm.$submitted) && loginForm.email.$error.required">Email or Username Required</span>
            <!-- <span class="help-block" data-ng-show="(loginForm.email.$dirty || loginForm.$submitted) && loginForm.email.$error.email">Invalid Email</span> -->
		</div>
		<div class="form-group" data-ng-class="{'has-error': (loginForm.password.$dirty || loginForm.$submitted) && loginForm.password.$invalid}">
			<div class="input-group">
				<div class="input-group-addon"><i class="flaticon-key162"></i></div>
				<input type="password" class="form-control" data-ng-model="ctrl.password" required="true" name="password" placeholder="Password">
			</div>
            <span class="help-block" data-ng-show="(loginForm.password.$dirty || loginForm.$submitted) && loginForm.password.$error.required">Password Required</span>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<label for="remember-me">
					<input type="checkbox" name="rememberMe" data-ng-model="ctrl.rememberMe" id="remember-me"> Remember me
				</label>
				<a href="javascript:;" id="forgot-password" class="pull-right btn btn-link">Forgot your Password?</a>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block" data-ng-click="loginForm.$valid && ctrl.login();" data-ng-disabled="ctrl.submitDisabled">Log In</button>
		</div>
		<div class="form-group text-center">or <a href="javascript:;" id="create-account" class="btn btn-link">create account</a></div>
	</form>
</div>
