<div class="bootstrap-modal modal ng-cloak" data-ng-show="modal.showModal" data-ng-class="{ show: modal.showModal, fade: modal.showModal, in: modal.showModal }">
    <div class="modal-backdrop ng-cloak" data-ng-show="modal.showModal" data-ng-class="{ show: modal.showModal, fade: modal.showModal, in: modal.showModal }"></div>
    <div class="modal-dialog" data-ng-class="cssClass">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-hide="suppressX" data-ng-click="modal.saveAndClose($event)">×</button>
                <h4>{{modal.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <div data-ng-transclude="true"></div>
            </div>
            <div class="modal-footer" data-ng-show="!!modal.confirmationButton || !!modal.cancelButton">
                <input type="button" class="btn btn-primary save" title="{{modal.confirmationButton}}" ng-disabled="modal.confirmationButtonDisable === 'true'" value="{{modal.confirmationButton}}" data-ng-click="modal.confirm($event)" data-ng-show="modal.confirmationButton" />
                <input type="button" class="btn saveAndClose" title="{{modal.saveAndCloseButton}}" ng-disabled="modal.confirmationButtonDisable === 'true'" value="{{modal.saveAndCloseButton}}" data-ng-click="modal.saveAndClose($event)" data-ng-show="modal.showSaveAndCloseButton" />
                <input type="button" class="btn btn-link" title="{{modal.cancelButton}}" value="{{modal.cancelButton}}" data-ng-click="modal.cancel($event)" data-ng-show="modal.cancelButton" />
            </div>
        </div>
    </div>
</div>