@import "partials/base";
/*
  =-=-=-=
	GET STARTED
  =-=-=-=
*/

/*Button Overide*/
.btn.btn-primary, .btn.btn-primary:hover {
    background-color: #283c41;
    border-color: #283c41;
	padding: 5px 12px;
	border-radius:0;

	i:before{
		margin-right:4px;
	}
}
.btn.btn-default, .btn.btn-default:hover {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
	padding: 5px 12px;
	border-radius:0;
	color:#fff;

	i:before{
		margin-right:4px;
	}
}
.text-icon{
	a{
		color: #666;
		cursor: pointer;
		text-decoration: none;

		i:before{
			font-size:30px;
			line-height:normal;
		}
	}
}

/*
  =-=-=-=
	BREADCRUMB
  =-=-=-=
*/

#breadcrumb{
	display:none;

	&.visible{
		margin-top:10px;
		display:block;
	}

	ul li{
		float:left;
		padding: 0 2px;
		color: $primary-font-color;

		a{
			color:$primary-font-color;
		}
	}
}

.modal-backdrop {
    z-index: 1030;
}
/*
  =-=-=-=
	NAVIGATION COMPONENT
  =-=-=-=
*/

#menu-bar{
	background-color:$primary-font-color;
	width: 20%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	padding:1rem 0;

	li{
		color:$background-primary;
		background-color:$primary-font-color;
		padding: 0;
		cursor:pointer;
		text-transform:uppercase;

		a{
			color:$background-primary;
			padding:2rem 0 2rem 2.5rem;
			display:block;
			text-decoration:none;
		}

		&:hover, 
		&.active{
			color:$primary-font-color;
			background-color:$background-primary;
			border-left: solid 5px $active-ribbon-color;

			a{
				text-decoration:none;
				color:$primary-font-color;
			}
		}

		&:disabled, &.disabled{
			
			&:hover, a{
				color:$secondary-font-color;
				background-color:$primary-font-color;
				border-left:none;
				cursor: not-allowed;
			}
		}

		i{
			margin-right:10px;
		}
	}

	h2{
		color:$background-primary;
		text-align:center;

		a{
			color:$background-primary;
			text-decoration:none;
		}
		
	}

	li.nav-footer{
		position:absolute;
		width:100%;
		bottom:0;
		font-weight:$bold;
		font-size: 24px;
		text-align: center;

		a{
			padding-left: 0;
		}

	}

	.menu{
		display:none;
	}
}

@media(min-width:1170px){
	#menu-bar{
		width:15%;
	}
}

@media(max-width:767px){
	#menu-bar{
		width:100%;
		right:0;
		bottom: auto;
		padding:0;

		h2{
			margin:0 0 0 10px;
			text-align:left;
			padding:6px 0;
			font-size:25px;
			display:inline-block;
			float:left;
		}

		ul{
			position: absolute;
			width: 200px;
			z-index: 90;
			bottom: 0;
			top: 40px;
			left: -200px;
			transition: left 0.3s;

			li.nav-footer{
				position:relative;
			}
		}

		ul.visible{
			left:0;
		}




		.menu{
			background-color:transparent;
			border:none;
			color:$background-primary;
			padding: 10px 6px; 
			display:inline-block;
			float:right;
			line-height:20px;
		}

		.hamburguer-menu:after{
			clear:both;
		}
	}
}

/*
  =-=-=-=
	LOGIN
  =-=-=-=
*/

body.login{
	background-color:$primary-font-color;
	color:$background-primary;

	main{
		margin-left:0;
	}
}
@media(max-width:991px){
	h1{
		font-size:34px;
	}
}

@media(max-width:767px){
	body.login{
		main{
			margin-top: 0px;
		}
	}
	h1{
		font-size:30px;
	}
}


#login-template{
	position: relative;
	top:50%;
	transform: translateY(50%);


	div.checkbox{
		padding-top:0;
		min-height: 20px;
	}

	.input-group {
		.input-group-addon{
			background-color:$background-primary;
			border:none;
			padding: $vertical-padding-button;
			padding-right:3px;
			border-radius:0;
		}

		input{
			border:none;
			padding-left:3px;
		}

		input:focus{
			outline:none;
		}
	}
	.btn.btn-primary{
		background:#666;
	}

	.btn.btn-link{
		color: $background-primary;
		padding: 0 $horizontal-padding-button;
	}

	#forgot-password{
		padding-right:0;
	}

	#create-account{
		text-decoration:underline;
		padding:0;
	}
}
