@import "partials/base";
/*
  =-=-=-=
	GET STARTED
  =-=-=-=
*/

/*Button Overide*/
.btn.btn-primary, .btn.btn-primary:hover {
    background-color: #283c41;
    border-color: #283c41;
	padding: 5px 12px;
	border-radius:0;

	i:before{
		margin-right:4px;
	}
}
.btn.btn-default, .btn.btn-default:hover {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
	padding: 5px 12px;
	border-radius:0;
	color:#fff;

	i:before{
		margin-right:4px;
	}
}
.text-icon{
	a{
		color: #666;
		cursor: pointer;
		text-decoration: none;

		i:before{
			font-size:30px;
			line-height:normal;
		}
	}
}
