@font-face {
  font-family: "Flaticon";
  src: url("../vendor/flaticon/flaticon.eot");
  src: url("../vendor/flaticon/flaticon.eot#iefix") format("embedded-opentype"), url("../vendor/flaticon/flaticon.woff") format("woff"), url("../vendor/flaticon/flaticon.ttf") format("truetype"), url("../vendor/flaticon/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-add139:before {
  content: "\e000";
}

.flaticon-concentric:before {
  content: "\e001";
}

.flaticon-cross8:before {
  content: "\e002";
}

.flaticon-email21:before {
  content: "\e003";
}

.flaticon-filter18:before {
  content: "\e004";
}

.flaticon-home63:before {
  content: "\e005";
}

.flaticon-key162:before {
  content: "\e006";
}

.flaticon-keyboard53:before {
  content: "\e007";
}

.flaticon-magnifying47:before {
  content: "\e008";
}

.flaticon-round68:before {
  content: "\e009";
}

.flaticon-round73:before {
  content: "\e00a";
}

.flaticon-tools3:before {
  content: "\e00b";
}

.flaticon-tv28:before {
  content: "\e00c";
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/fg2nPs59wPnJ0blURyMU3PesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.form-group.has-error {
  margin-bottom: 0;
}

.btn.btn-primary {
  padding: 12px;
}

input[type="button"]:focus, button:focus {
  outline: none;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-horizontal .form-group .control-label {
  padding: 0 0 5px 0;
}

.control-label {
  color: #9b9b9b;
}

main.row {
  margin: 0;
  margin-left: 20%;
}

@media (max-width: 767px) {
  .container-fluid {
    margin: 0 10px;
  }

  main.row {
    margin: 0;
    margin-top: 40px;
  }
}
body {
  font-family: "Roboto" sans-serif;
  color: #283c41;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto" sans-serif;
}

/*
  =-=-=-=
	GET STARTED
  =-=-=-=
*/
/*Button Overide*/
.btn.btn-primary, .btn.btn-primary:hover {
  background-color: #283c41;
  border-color: #283c41;
  padding: 5px 12px;
  border-radius: 0;
}
.btn.btn-primary i:before, .btn.btn-primary:hover i:before {
  margin-right: 4px;
}

.btn.btn-default, .btn.btn-default:hover {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
  padding: 5px 12px;
  border-radius: 0;
  color: #fff;
}
.btn.btn-default i:before, .btn.btn-default:hover i:before {
  margin-right: 4px;
}

.text-icon a {
  color: #666;
  cursor: pointer;
  text-decoration: none;
}
.text-icon a i:before {
  font-size: 30px;
  line-height: normal;
}

/*
  =-=-=-=
	BREADCRUMB
  =-=-=-=
*/
#breadcrumb {
  display: none;
}
#breadcrumb.visible {
  margin-top: 10px;
  display: block;
}
#breadcrumb ul li {
  float: left;
  padding: 0 2px;
  color: #283c41;
}
#breadcrumb ul li a {
  color: #283c41;
}

.modal-backdrop {
  z-index: 1030;
}

/*
  =-=-=-=
	NAVIGATION COMPONENT
  =-=-=-=
*/
#menu-bar {
  background-color: #283c41;
  width: 20%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
}
#menu-bar li {
  color: #fff;
  background-color: #283c41;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}
#menu-bar li a {
  color: #fff;
  padding: 2rem 0 2rem 2.5rem;
  display: block;
  text-decoration: none;
}
#menu-bar li:hover, #menu-bar li.active {
  color: #283c41;
  background-color: #fff;
  border-left: solid 5px #5d9600;
}
#menu-bar li:hover a, #menu-bar li.active a {
  text-decoration: none;
  color: #283c41;
}
#menu-bar li:disabled:hover, #menu-bar li:disabled a, #menu-bar li.disabled:hover, #menu-bar li.disabled a {
  color: #939393;
  background-color: #283c41;
  border-left: none;
  cursor: not-allowed;
}
#menu-bar li i {
  margin-right: 10px;
}
#menu-bar h2 {
  color: #fff;
  text-align: center;
}
#menu-bar h2 a {
  color: #fff;
  text-decoration: none;
}
#menu-bar li.nav-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
#menu-bar li.nav-footer a {
  padding-left: 0;
}
#menu-bar .menu {
  display: none;
}

@media (min-width: 1170px) {
  #menu-bar {
    width: 15%;
  }
}
@media (max-width: 767px) {
  #menu-bar {
    width: 100%;
    right: 0;
    bottom: auto;
    padding: 0;
  }
  #menu-bar h2 {
    margin: 0 0 0 10px;
    text-align: left;
    padding: 6px 0;
    font-size: 25px;
    display: inline-block;
    float: left;
  }
  #menu-bar ul {
    position: absolute;
    width: 200px;
    z-index: 90;
    bottom: 0;
    top: 40px;
    left: -200px;
    transition: left 0.3s;
  }
  #menu-bar ul li.nav-footer {
    position: relative;
  }
  #menu-bar ul.visible {
    left: 0;
  }
  #menu-bar .menu {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px 6px;
    display: inline-block;
    float: right;
    line-height: 20px;
  }
  #menu-bar .hamburguer-menu:after {
    clear: both;
  }
}
/*
  =-=-=-=
	LOGIN
  =-=-=-=
*/
body.login {
  background-color: #283c41;
  color: #fff;
}
body.login main {
  margin-left: 0;
}

@media (max-width: 991px) {
  h1 {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  body.login main {
    margin-top: 0px;
  }

  h1 {
    font-size: 30px;
  }
}
#login-template {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
#login-template div.checkbox {
  padding-top: 0;
  min-height: 20px;
}
#login-template .input-group .input-group-addon {
  background-color: #fff;
  border: none;
  padding: 6px;
  padding-right: 3px;
  border-radius: 0;
}
#login-template .input-group input {
  border: none;
  padding-left: 3px;
}
#login-template .input-group input:focus {
  outline: none;
}
#login-template .btn.btn-primary {
  background: #666;
}
#login-template .btn.btn-link {
  color: #fff;
  padding: 0 12px;
}
#login-template #forgot-password {
  padding-right: 0;
}
#login-template #create-account {
  text-decoration: underline;
  padding: 0;
}
