<aside id="menu-bar" role="navigation" data-ng-show="navigation.isVisible()">
	<nav id="top-menu">
		<h2><a ui-sref="dashboard">Tenant Admin</a></h2>
		<button class="menu" type="button" data-ng-click="navigation.showMenu = !navigation.showMenu">MENU</button>
	</nav>
	<ul class="list-unstyled" data-ng-class="{ visible: navigation.showMenu }">
		<li data-ng-repeat="item in navigation.items" ui-sref-active="active" data-ng-class="{disabled: item.disabled}">
			<a href="javascript:;" ui-sref="{{::item.state}}"><i class="{{::item.icon}}"></i> {{::item.title}}</a>
		</li>
		<li class="nav-footer"><a href="">. . .</a></li>
	</ul>
</aside>