/*
  =-=-=-=
	NAVIGATION COMPONENT
  =-=-=-=
*/

#menu-bar{
	background-color:$primary-font-color;
	width: 20%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	padding:1rem 0;

	li{
		color:$background-primary;
		background-color:$primary-font-color;
		padding: 0;
		cursor:pointer;
		text-transform:uppercase;

		a{
			color:$background-primary;
			padding:2rem 0 2rem 2.5rem;
			display:block;
			text-decoration:none;
		}

		&:hover, 
		&.active{
			color:$primary-font-color;
			background-color:$background-primary;
			border-left: solid 5px $active-ribbon-color;

			a{
				text-decoration:none;
				color:$primary-font-color;
			}
		}

		&:disabled, &.disabled{
			
			&:hover, a{
				color:$secondary-font-color;
				background-color:$primary-font-color;
				border-left:none;
				cursor: not-allowed;
			}
		}

		i{
			margin-right:10px;
		}
	}

	h2{
		color:$background-primary;
		text-align:center;

		a{
			color:$background-primary;
			text-decoration:none;
		}
		
	}

	li.nav-footer{
		position:absolute;
		width:100%;
		bottom:0;
		font-weight:$bold;
		font-size: 24px;
		text-align: center;

		a{
			padding-left: 0;
		}

	}

	.menu{
		display:none;
	}
}

@media(min-width:1170px){
	#menu-bar{
		width:15%;
	}
}

@media(max-width:767px){
	#menu-bar{
		width:100%;
		right:0;
		bottom: auto;
		padding:0;

		h2{
			margin:0 0 0 10px;
			text-align:left;
			padding:6px 0;
			font-size:25px;
			display:inline-block;
			float:left;
		}

		ul{
			position: absolute;
			width: 200px;
			z-index: 90;
			bottom: 0;
			top: 40px;
			left: -200px;
			transition: left 0.3s;

			li.nav-footer{
				position:relative;
			}
		}

		ul.visible{
			left:0;
		}




		.menu{
			background-color:transparent;
			border:none;
			color:$background-primary;
			padding: 10px 6px; 
			display:inline-block;
			float:right;
			line-height:20px;
		}

		.hamburguer-menu:after{
			clear:both;
		}
	}
}