<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title data-ng-bind="state.current.title + ' - App'"></title>
	<link rel="stylesheet" href="vendor/bootstrap-sass/dist/css/bootstrap.css">
	<link rel="stylesheet" href="vendor/bootstrap-sass/dist/css/bootstrap-theme.css">

	<!-- build:css ../dest/styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body data-ng-class="{ login: state.current.name === 'login'}">
	<!-- <alert-modal data-show-alert="showAlert">{{alertMessage}}</alert-modal> -->
	<div class="container-fluid">
		<nav-menu></nav-menu>
		<main class="row">
			<!-- <nav-breadcrumb></nav-breadcrumb> -->
			<section data-ui-view="" class="col-xs-12"></section>
		</main>
	</div>
	<!-- build:js ../dest/scripts/main.js -->
	<script src="vendor/requirejs/require.js" data-main="app/main.js" type="text/javascript"></script>
	<!-- endbuild -->

	<script type="text/javascript">
		var csrfToken = 'askdljfalk';
	</script>
</body>
</html>
